In [1]:
#String 
str='apply.py'
print(str.endswith('.py'))

True

In [3]:
s1='Today is a nice day'
s2='TO'
print(s1.startswith(s2))

False

In [5]:
s='HELLO'
print(s.lower())

hello

In [9]:
#List
L1=list(range(1,50,2))
print(L1)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

In [18]:
L2=list(range(1,100))
for x in L2: 
    if x%5==0:
        print(x)

5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95

In [24]:
L3=L1[-4:-1]+L2[-4:-1]
print(L3)

[43, 45, 47, 96, 97, 98]

In [26]:
print(L3[-6:-1])

[43, 45, 47, 96, 97]

In [3]:
L2=list(range(1,100))
L3=['n']
for x in L2:
    if x%10==0:
        L3.append(x)
print(L3)

['n', 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [14]:
b=list(reversed(L3))
print(b)

[90, 80, 70, 60, 50, 40, 30, 20, 10, 'n']

In [2]:
L1=list(range(1,50,2))
print(max(L1))

49

In [3]:
D{'stu1':{'name':'Jim','age':12,'gender':'M'},'stu2':{'name':'Rose','age':11,'gender':'F'},'stu3':{'name':'Jack','age':13,'gender':'M'}}

SyntaxError: invalid syntax (<ipython-input-3-6c40298fb72c>, line 1)